<div class="container">


    <fieldset >

        <!-- Form Name -->
        <legend>
            <center>
                <h2><b>THÔNG TIN CÁ NHÂN </b></h2>
            </center>
        </legend><br>


        <!-- Text input-->

        
        <div class="form-group row">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">Username</label>
            <div class="col-md-6">
                <input type="text"  class="form-control submit" value=<%=user.username %> >
            </div>
        </div>
        <!-- Text input-->

        <div class="form-group row">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">Password </label>
            <div class="col-md-6">
                <input type="text" class="form-control submit"   >
            </div>
        </div>


        <!-- Text input-->

        <div class="form-group row">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">E-Mail </label>
            <div class="col-md-6">
                <input type="text" class="form-control submit" placeholder="E-Mail Address"  value=<%=user.email %> >
            </div>
        </div>



        <!-- Text input-->
        <div class="form-group row">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">Contact No. </label>
            <div class="col-md-6">
                <input name="contact_no" type="text" class="form-control submit" placeholder="(639)"  value=<%=user.phone %> >
            </div>
        </div>


        <!-- Select Basic -->

        <!-- Success message -->
        <div class="alert alert-success" role="alert" id="success_message">Success <i
                class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>

        <!-- Button -->
        <div class="form-group ">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4 col-md-4 col-form-label text-md-center">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" id="submit"
                    class="btn btn-warning btn-primary">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span
                        class="glyphicon glyphicon-send submit"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
            </div>
        </div>

    </fieldset>

</div>
</div><!-- /.container -->
<script>
    $(document).ready(function () {

        $('#submit').click(function () {
            let data = []
            const _this = $(this);
            $('.submit').each(function () {
                data.push($(this).val());
            })
            console.log(data);
            function checkInp(input) {

                if (isNaN(input)) {
                    alert("Must input numbers");
                    return false;
                } else {
                    return true;
                }
            }
            const body = {
                username: data[0],
                email: data[2],
                password: data[1],
                phone: data[3]
            }
            console.log(body)
            if (body.password == "") {
                delete body.password;
            }
            console.log(body);
            if (checkInp(body.phone)) {
                $.ajax({
                    type: "POST",
                    url: "http://localhost:3000/users/home/qluser",
                    data: body,
                    success: function (data) {
                        console.log(data);
                        $("#username").text(data.username);
                        alert('Success!', data.mess, data.data)
                    },
                    error: function (err, message) {
                        //show error message
                        console.log(err.responseJSON.message, "huhuhu", err.responseText, "haha");
                        alert('text status ' + ', err ' + err.responseJSON.message)
                    }
                });
            };



        });
    });
</script>